*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    /* position: fixed; */
    align-items: center;
    padding: 8px;
    /* background: radial-gradient(#fff, #e99c9c); */
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 22px 0;
}
.btn{

    display: inline-block;
    background: #306ef3;
    color: #fff;
    padding: 8px 30px;
    margin: 25px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(18, 95, 146);
}
.header{
    background: radial-gradient(#fff, #e99c9c);
}
.heade .row{
    margin-top: 70px;

}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4 :hover{
    transform: translateY(-5px);
}
/*------offer-------*/
.offer{
    background: radial-gradient(#fff, #5ad8e9);
    margin-top: 80px;
} 
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
/* --------Testimonial-------- */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3 :hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
color: #777777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color:#555;
    font-size: 16px;
}
/* ---------------brands------------- */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 200px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
}
/* -----------------footer----------------- */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-height: 120px;
    margin-bottom: 20px;
}

.footer-col-4{
    min-height: 120px;
    margin-bottom: 20px;
    /* font-size: 20px; */
}

fa{
    size: 10px;
}
.footer-col-1{
    flex-basis: 23%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo img{
    width: 100px;
}
.app-logo{
    margin-top: 20px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* ----------------All Products------------------ */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid rgb(104, 5, 104);
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid  rgb(104, 5, 104);
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    align-items: center;
}
.page-btn span:hover{
    background:  rgb(104, 5, 104);
    color: white;
    
}

/*--------------Single Product Details-----------*/

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid  rgb(104, 5, 104);
}
.single-product .btn{
    background: rgb(104, 5, 104) ;
}
input:focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
   /* -----------------Cart item Details------------ */

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background:  rgb(104, 5, 104);
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: rgb(104, 5, 104);
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}










/* --------------media query for menu------------- */

@media only screen and (max-width: 800px){
    nav ul{
        /* position: absolute; */
        /* top: 70px; */
        left: 0;
        /* background: #333; */
        width: 100%;
        overflow: hidden;
        transition: max height 0.5s;
    }

    nav ul li{
        /* display: block; */
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        /* color: white; */
        color: rgb(27, 24, 24);
    }
    .menu-icon{
        /* display: block; */
        cursor: pointer;
    }
    
}

/* --------------media query for less than 600px screen size------------- */

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }

   .menuitems{
    margin-top: 0%;
    text-align: center;
}

}

@media screen and (max-width:600px) {
    .form{
        width: 100%;
        /* margin-left: 0px; */
        border: 2px solid black;
        text-align: center;
        background: radial-gradient(rgb(255, 255, 255), #bbd6dd);
        border: 2px solid;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and(max-width:1500px) {
    .form{
        width: 100%;
        /* margin-left: 0px;
        margin-right: 0px; */
        border: 2px solid black;
        text-align: center;
        background: radial-gradient(rgb(255, 255, 255), #bbd6dd);
        border: 2px solid;
        
    }

}

h3{
    text-align: center;
    /* font-size: 40px; */
    /* color: #ff523b; */
}

form{
    text-align: center;
   margin-left: 600px;
   margin-right: 600px;
   margin-bottom: 20px;
    background: radial-gradient(rgb(255, 255, 255), #bbd6dd);
    border: 2px solid;
    padding-top: 5px;
    
}

.st{

    display: inline-block;
    background: #bd7f66;
    color: rgb(250, 226, 14);
    padding: 8px 30px;
    margin: 25px 0;
    border-radius: 30px;
    transition: background 0.5s;
    font-size: 17px;
}

.email{
    width: 170px;
    height: 50px;
    border: 2px solid red;
    
}

.query{
    width: 200px;
    height: 70px;
    border: 2px solid red;
    
}

.btn-two {
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    position: relative;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 20px;
    }

    /* .btn-two span { */
    /* z-index: 2; */
    /* display: block; */
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    /* } */


    .btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
    }

    .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
    }

    .btn-two:hover::before {
      transform: rotate(-45deg);
      background-color: rgba(255,255,255,0);
    }

    .btn-two:hover::after {
      transform: rotate(45deg);
      background-color: rgba(255,255,255,0);
    }


    
